.ripple-image {
  display: inline-block;
}
.ripple-image img {
  width: 160px;
  height: auto;
}

.md-ripple-active {
  transition: all 5s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
  overflow: hidden;
  background-clip: padding-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.md-ripple-active .md-ripple-container {
  pointer-events: none;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-clip: padding-box;
  overflow: hidden;
  -webkit-mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC");
}
.md-ripple-active .md-ripple-container .md-ripple,
.md-ripple-active .md-ripple-container .md-focus {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}
.md-ripple-active .md-ripple-container .md-focus {
  -webkit-animation: focusPulse 2.5s infinite;
          animation: focusPulse 2.5s infinite;
  left: 50%;
  top: 50%;
}
.md-ripple-active .md-ripple-container {
  border-radius: 2px;
}
.md-ripple-active.md-icon-button .md-ripple-container,
.md-ripple-active.md-fab .md-ripple-container {
  border-radius: 50%;
}
.md-ripple-active:not([disabled]) .md-ripple-container svg {
  fill: #000000;
  fill-opacity: 0.15;
}
@-webkit-keyframes focusPulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0.9, 0.9);
            transform: translate(-50%, -50%) scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
}
@keyframes focusPulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(0.9, 0.9);
            transform: translate(-50%, -50%) scale(0.9, 0.9);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
  }
}


.red
{
	background-color: #f44336 !important;
		box-shadow: 0 1px 3px 1px rgba(255, 0, 0, 0.26) !important;
}
.purple
{
	background-color: #9c27b0 !important;
	box-shadow: 0 1px 3px 1px rgba(255, 0, 255, 0.25) !important;
}
.indigo
{
	background-color: #3f51b5 !important;
	box-shadow: 0 1px 3px 1px rgba(63, 81, 181, 0.27) !important;
}
.blue
{
	background-color: #4285F4;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 255, 0.27) !important;
}
a.blue
{
	color: white;
}
.green
{
	background-color: #4caf50 !important;
	box-shadow: 0 1px 3px 1px rgba(0, 255, 0, 0.27) !important;
}
.yellow
{
	background-color: #ffeb3b !important;
	box-shadow: 0 1px 3px 1px rgba(150, 150, 150, 0.3) !important;
}
.amber
{
	background-color: #ffc107 !important;
	box-shadow: 0 1px 3px 1px rgba(255, 193, 7, 0.3) !important;
}
.orange
{
	background-color: #ff9800 !important;
	box-shadow: 0 1px 3px 1px rgba(255, 152, 0, 0.3) !important;
}
.grey
{
	background-color: #616161 !important;
}
body
{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	position: relative;
}
div
{
	font-family: 'Montserrat', sans-serif;
}
html
{
	width: 100%;


}
.center-element
{
	position: relative; left: 50%; transform: translate(-50%, 0%);

}
.center
{
	text-align: center;
	align-items:center;
}
.pulse.light-blue
{
	animation: shadow-pulse 1s infinite;
}
.gradient-w-b
{
	background-image: linear-gradient(to top, #ffffff, #f3f1fe, #e6e4fe, #d8d7fd, #c9cbfd);;
}
@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 255, 0.2);
     }
     100% {
          box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
     }
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent !important;
}
.rounded
{
	 border-radius: 9.5px;
}
nav
{
	position: relative;
	background-color: #eeeeee;
	width: 100%;
	z-index: 100;
	-webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.24);
	-moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.24);
	-ms-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.24);
	-o-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 32px rgba(0, 0, 0, 0.24);
	box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.24);
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
  height: 55px;
  display: flex;
	align-items: center;
	z-index: 999;
}
nav.rounded
{
	background-color: #eeeeee;
	width: 99% !important;
	border-radius: 30px !important;
	position: relative; left: 50%; transform: translate(-50%, 0%) !important;
	height: 60px;
	z-index: 0;
}
nav.rounded>.nav-buttons {
	position: absolute;
  right: 10px !important;
}
nav.rounded>.nav-title {
	position: relative;
	left: 10px !important;
}
.left
{
	position: absolute;
	left: 5px;
}
.right
{
	position: absolute;
	right: 5px;
}
.nav-buttons
{
	position: absolute;
	right: 5px;
	display: inline-flex;
  display: flex;
  align-items: center;
}
div.nav-title
{
	font-weight: 600;
	font-size: 16px;
	margin-left: 10px;
  display: flex;
  align-items: center;
}
.rounded-max
{
	border-radius: 30px !important;
}
i
{
	height: 24px;
}
.container
{
	margin-right: 20%;
	margin-left: 20%;
}
.container-small
{
	margin-right: 10%;
	margin-left: 10%;
}
.container-cards
{
	margin-right: 35%;
	margin-left: 35%;
}
.btn-outline.huge
{
	padding: 10px 15px;
	font-size: 23px;
}
.btn-outline. outline-blue
{
	border-color: #2196f3;
}
.text-container
{
	height: 20px;
}
@media only screen and (max-width: 768px) {
	.container
	{
		margin-right: 1%;
		margin-left: 1%;
	}
	.container-small
	{
		margin-right: 4%;
		margin-left: 1%;
	}
	.nav-buttons
	{
		display: none;
	}
	.open
	{
		display: none !important;
	}
	.nav-title
	{
			position: relative;
			left: 50%;
			transform: translate(-50%, 0%);
	}
	nav.rounded>.nav-title {
		position: relative !important;
		left: 50% !important; transform: translate(-50%, 0%) !important;
	}
	.text-container
	{
		height: 80px;
	}

}
pre {
  overflow: auto;
}
.chip
{
  display: inline-flex;
  color: #424242;
  text-transform: capitalize;
  border: none;
  border-radius: 50px;
  transition: .2s ease;
  padding: 6px 10px;
  line-height: 1.452635473;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  font-weight: 500;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: #e0e0e0;
}
.chip:hover
{
  background-color: #bdbdbd;
}
.actions
{
  padding: 3px 10px !important;
}
.chip > *
{
  display: flex;
  align-items: center;
}
.chip > i.material-icons
{
  font-size: 23px;
  margin-top: 2px;
  margin-right: 5px;
}
[ripple] {
  position: relative;
  overflow: hidden;
}
[ripple] .ripple-effect {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.btn
{
    display: inline-flex;
    color: #fff;
    text-transform: capitalize;
    border: none;
    border-radius: 9px;
    transition: .3s ease;
    padding: 5px 15px;
    line-height: 1.452635473;
    font-size: 1rem;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
    vertical-align: middle;
		font-weight: 600;
		margin-left: 3px;
		margin-right: 3px;
		margin-top: 3px;
		margin-bottom: 3px;

}
.btn-outline
{
    display: inline-block;
    color: #fff;
    text-transform: capitalize;
    border-style: solid;
    border-radius: 9.5px;
    transition: .3s ease;
    padding: 5px 15px;
    line-height: 1.452635473;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    border-color: #e0e0e0;
    border-width: 1px;
		font-weight: 600;
}
.btn-flat
{
  display: inline-block;
  color: #fff;
  text-transform: capitalize;
  border: none;
  border-radius: 9px;
  transition: .3s ease;
  padding: 5px 15px;
  line-height: 1.452635473;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
	font-weight: 600;
}
.transparent
{
  background-color: rgba(0, 0, 0, 0);
}
.dark-text
{
  color: #757575;
}
.darker-text
{
  color: #616161;
}
.light-text
{
  color: #eeeeee !important;
}
.btn.blue1
{
	background-color: #448aff;
	color: white;
}
.light-blue
{
  background-color: #d1e2ff;
}
.light
{
  background-color: #f5f5f5;
	color: #757575;
}
.blue-text
{
	color: #2979ff !important;
}
.card-actions
{
	position: absolute;
	bottom: -2px;
	right: -2px;

}
.btn-outline:not(.light-blue):hover
{
	background-color: rgba(155,155,155,0.1);
}
.btn-flat:hover
{
	background-color: rgba(155,155,155,0.1);
}
.btn-flat.blue-text:hover
{
	background-color: rgba(155,155,155,0.1);
}
.card-actions:not(img)
{
	  padding: 5px 7px;
}
.card
{
  position: relative;
  top: 0px;
	box-shadow: -1px 4px 6px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1) !important;
	border-radius: 10px;
	padding: 10px 10px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 5px;
	position: relative;
	background-color: #fcfcfc;
  min-width: 400px;
  min-height: 95px;

}
#inline
{
		display: inline-flex;
}
.card-content
{
  margin-top: 25px;
	position: relative;
	top: -20px;
  margin-bottom: 16px;
}
.media-content
{
  margin-bottom: 40px;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-top: -10px;
}
.media-content > img
{
  border-radius: 9.5px 9.5px 0px 0px;
}
.z-depth-0
{
		box-shadow: -1px 4px 6px rgba(0,0,0,0), 1px 1px 3px rgba(0,0,0,0);
}
.z-depth-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.z-depth-1-5 {
  -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.24) !important;
  -moz-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.24) !important;
  -ms-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.24) !important;
  -o-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 32px rgba(0, 0, 0, 0.24) !important;
  box-shadow: 0 5px 13px rgba(0, 0, 0, 0.12), 0 3px 3px rgba(0, 0, 0, 0.24) !important;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.z-depth-2 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.z-depth-3 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.z-depth-4 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22) !important;
}
.cbtn
{
	display: inline-flex;
	color: #fff;
	text-transform: capitalize;
	border: none;
	border-radius: 90px;
	transition: .3s ease;
	padding: 8px 8px;
	line-height: 1.452635473;
	font-size: 1rem;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 255, 0.25);
	cursor: pointer;
	outline: none;
	vertical-align: middle;
	font-weight: 600;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.nav-title>H3
{
	display: inline-flex !important;
}

.dropdown {
    position: relative;
    display: inline-flex;
		left: 0px;
		top: 0px;
		-webkit-animation: scale-out-ver-top 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
						animation: scale-out-ver-top 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
		left: -115px;
		top: 50px;
    box-shadow: 0 1px 3px 1px rgba(1, 1, 1, 0.25);
    z-index: 1;
		-webkit-animation: scale-out-ver-top2 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
						animation: scale-out-ver-top2 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgba(1,1,1,0.03);}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;
	-webkit-animation: scale-up-ver-top 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}
.scale-up-ver-top {
	-webkit-animation: scale-up-ver-top 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-ver-top 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-12-3 11:9:53
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
material-icons
{
	display: inline-flex !important;
	transition: all 2s !important;
}

.cbtn-flat
{
	border-radius: 30px;
	padding: 8px 8px;
}
button.accordion i
{
	position: absolute;
	right: 10px;
}
.fix-align1
{
	position: relative;
	top: -1.5px;
	left: 0px;
}
.nav-title i ~ H3
{
	position: relative;
	top: 2px;
}
.side-buttons
{
	background-color: #ffffff;
	z-index: 112;
	box-shadow: 1px 0 1px rgba(0,0,0,.2);

}
a {
	-webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 -webkit-tap-highlight-color: transparent;
}
button {
	-webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 -webkit-tap-highlight-color: transparent;
}
.side-buttons>.cbtn-flat
{
	margin-left: 9px;
	margin-top: 9px;
}
.side-buttons>.cbtn
{
	margin-left: 9px;
	margin-top: 9px;
}
.accordion {
    background-color: rgba(1,1,1,0);
    color: #616161;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
		border-top: 1px solid #ddd;
    border-right: 0px solid #ddd;
    border-left: 0px solid #ddd;
		border-bottom: 0px solid #ddd;
    outline: none;
    transition: 0.4s;
		font-size: 18px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 6px;
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

}
.panel > :not(marquee){
    margin-top: 5px;
		margin-bottom: 5px;
}
.wrapper-accordion>button.accordion:first-child
{
	border-radius: 9.5px 9.5px 0px 0px;
}
.wrapper-accordion .panel:nth-last-child(1)
{
	border-radius: 0px 0px 9.5px 9.5px;
}
.wrapper-accordion
{
	 border-radius: 9.5px;
	   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	   -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	   -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	   -webkit-transition: all 0.25s ease-in-out;
	   -moz-transition: all 0.25s ease-in-out;
	   -ms-transition: all 0.25s ease-in-out;
	   -o-transition: all 0.25s ease-in-out;
	   transition: all 0.25s ease-in-out;
	 }
}

.load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
	z-index: 99999;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 0.9s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 0.9s linear 0.5s infinite;
}
.bar:nth-child(3) {
  background-color: #fdba2c;
  animation: loading 0.9s linear 1s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
#load-wrapper {
  position: fixed;
	background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:128;
}
#loader {
position: fixed;
	 top:50%;
	width: 100%;
  height: 6px;
	z-index:999;
	transform: translate(0px, -100px);
}
.accordion.active i {
 -ms-transform: rotate(180deg); /* IE 9 */
 -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
 transform: rotate(180deg);
 transition: all  0.2s;
}
i
{
	 transition: all  0.2s;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  font-size: 16px;
  color: #212121;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field-dark {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  font-size: 16px;
  color: #eeeeee;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

label,
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #757575
}

.form__field:focus ~ .form__label {
  color: #616161;
}

.form__field:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid #4285F4;
}

textarea { resize: vertical; max-height: 150px; min-height: 100px; }

.form__field-outlined {
  font-family: inherit;
  width: 100%;
  border: 0;
	border-top: 2px solid #757575;
	border-bottom: 2px solid #757575;
	border-left: 2px solid #757575;
	border-right: 2px solid #757575;
	border-radius: 9.5px;
  outline: 0;
  font-size: 16px;
  color: #212121;
  padding: 12px 9px;
  background: transparent;
  transition: all 0.2s;
}
.form__field-outlined-dark
{
	font-family: inherit;
	width: 100%;
	border: 0;
	border-top: 2px solid #eeeeee !important;
	border-bottom: 2px solid #eeeeee !important;
	border-left: 2px solid #eeeeee !important;
	border-right: 2px solid #eeeeee !important;
	border-radius: 9.5px;
	outline: 0;
	font-size: 16px;
	color: #eeeeee !important;
	padding: 12px 9px;
	background: transparent;
	transition: all 0.2s;
}
.form__field-outlined::placeholder {
  color: transparent;
}

.form__field-outlined:placeholder-shown ~ .form__label-outlined {
  font-size: 16px;
  cursor: text;
  top: 29px;
}

div.form__label-outlined,
.form__field-outlined:focus ~ .form__label-outlined {
  position: absolute;
  top: 8px;
	left: 11px;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #757575;
	background-color: white;
	padding: 0px 5px;
	transition: all 0.25s;
	z-index: 0;
}

.form__field-outlined:focus ~ .form__label-outlined {
  color: #4285F4 !important;
	font-weight: 600;
	transition: all 0.25s;
}

.form__field-outlined:focus {
  border-top: 2px solid #4285F4 !important;
	border-bottom: 2px solid #4285F4 !important;
	border-left: 2px solid #4285F4 !important;
	border-right: 2px solid #4285F4 !important;
	border-radius: 9.5px;
	padding: 12px 9px;
	transition: all 0.25s;
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label.form__label-filled {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
	color:  #616161;
	font-weight: bolder;
	font-size: 15px;
}
label.form__label-filled::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #4285F4;
  border-radius: 4px;
  z-index: -1;
}
input.form__style[type="radio"] + label.form__label-filled::before {
  border-radius: 30px;
}
/* Checked */
input.form__style[type="checkbox"]:checked + label.form__label-filled,
input.form__style[type="radio"]:checked + label.form__label-filled {
  padding-left: 10px;
	padding-right: 8px;
  color: #fff;
	font-weight: 500;
	font-size: 16px;


}
input.form__style[type="checkbox"]:checked + label.form__label-filled::before,
input.form__style[type="radio"]:checked + label.form__label-filled::before {
  top: -1px;
  width: 100%;
  height: 92%;
  background: #4285F4;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 255, 0.27);

}
/* Transition */
label.form__label-filled,
label.form__label-filled::before {
  -webkit-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}
.dark
{
	background-color: black !important;
}
.dark2
{
	background-color: #212121 !important;
}
.dialog
{
	display:none;
	overflow:hidden;
	margin:0;
	padding: 0px 7px;
	background-color: #f5f5f5;
	border-radius: 9.5px;
	box-shadow: -1px 4px 6px rgba(0,0,0,.25), 1px 1px 3px rgba(0,0,0,.1) !important;
	z-index: 999 !important;
	-webkit-touch-callout: none;
	 -webkit-user-select: none;
	 -khtml-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
	 -webkit-tap-highlight-color: transparent;
	 	font-family: 'Montserrat', sans-serif;

}

:focus {
  outline-color: transparent;
  outline-style: none;
}
.white-text
{
	color: white;
}
.sidenav-bkg
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}
.dark3
{
	background-color: #0E0E0E;
}
.wrapper {
  height: 100%;
  width: 100%;
  background: #2e394b;
  overflow: hidden;
  position: relative;
}
.wrapper>i.material-icons
{
	position: absolute;
	left: 7px;
	top: 7px;
	z-index: 999;
}
section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9.5px 9.5px 0 0;
  -webkit-transition: -webkit-transform 0.3s;
}
section.one {
  background: #f75b5b;
}
section.two {
  background: #c84051;
}
section.three {
  background: #4f3462;
}
section.four {
  background: #794d9a;
}
section.after {
  -webkit-transform: translateY(100%);
}
section>h1 {
  color: white;
  font-weight: 500;
  font-size: 29px;
  text-align: center;
  margin-top: 10px;
  -webkit-user-select: none;
}
.wrapper>h1 {
	color: white;
  font-weight: 500;
  font-size: 29px;
  text-align: center;
  margin-top: 10px;
  -webkit-user-select: none;
}
.menu-open section {
  cursor: pointer;
}
.menu-open section.one {
  -webkit-transform: translateY(70px);
}
.menu-open section.two {
  -webkit-transform: translateY(140px);
}
.menu-open section.three {
  -webkit-transform: translateY(210px);
}
.menu-open section.four {
  -webkit-transform: translateY(280px);
}
section
{
	-webkit-box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.12);
	  -moz-box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.12);
	  box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.12);
}
.mirror
{
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent) , to(rgba(250, 250, 250, 0.2)));
}
.mirror-strong
{
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent) , to(rgba(250, 250, 250, 0.5)));
}
